@import '~bootstrap/scss/bootstrap';


h1 {
  font-style: italic;
  text-align: center;
}

textarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-image: linear-gradient(to right, #ff0000, #008000);
}
